[2013-07-18 22:04] bsvensson opened #1 "4 spaces instead of tabs"
Currently the code has a mix of spaces and tabs, I think it would be better if all tabs would be replaced with spaces.
Currently some lines use both spaces and tabs, e.g. https://github.com/Esri/Application-Boilerplate/blob/master/application_boilerplate/index.html#L37-L45

[2013-07-18 22:34] #1 closed, assigned to kellyhutchins

[2013-08-29 17:53] chelm opened #2 "Dbl click causes a strange "flash/jump""
When viewing the map here in Chrome: http://esri.github.io/application-boilerplate-js/application_boilerplate/

I see a strange "jump" or "flash" thats hard to describe. If you double click on the map you see the issue.

I also see it when clicking on zoom in/out buttons.

[2013-08-29 20:16] #2 closed, assigned to nobody

[2013-10-16 11:57] AxxL opened #9 "'on' is not defined"
small issue in js/main.js:

JSHint notes: "'on' is not defined." Line 49.

define(["dojo/on"],function(on){...

[2013-10-16 16:19] #9 closed, assigned to driskull

[2013-12-02 17:04] kellyhutchins opened #10 "Upgrade to support reading units from the self call."

[2013-12-02 22:31] driskull opened #11 "Add configuration boolean option for when the template is hosted/used in portal vs not"
Instead of looking for /apps in the URL, there should be a configuration option that can be enabled when the template is hosted or in portal.

[2014-01-24 22:07] kellyhutchins opened #12 "Add support for reading extent set by application item"

[2014-01-24 22:09] #12 closed, assigned to kellyhutchins

[2014-02-24 19:27] #10 closed, assigned to kellyhutchins

[2014-02-27 19:45] kellyhutchins opened #17 "Update template.js to prompt for log-in before we retrieve org specific settings"
Update template.js to prompt for log-in before we retrieve org specific settings. In cases where the web map is not public we needed to prompt for log-in before retrieving org specific settings to ensure that settings were retrieved for the logged in user.

[2014-02-27 19:46] #17 closed, assigned to kellyhutchins

[2014-02-27 19:47] #11 closed, assigned to kellyhutchins

[2014-03-05 21:16] driskull opened #18 "Add an "error" event for the Template class"
The Template class uses Deferreds that get resolved but when something fails there is no way to report that. My app needs to know when there was an error to stop the loading spinner and display the error. It would be nice if the Deferreds were rejected on error and a 'error' event was emitted. @kellyhutchins What do you think?

[2014-03-22 04:39] #18 closed, assigned to nobody

[2014-03-25 21:18] kellyhutchins opened #20 "Clean up bingmapskey vs bingkey"
Clean up bingmapskey vs bingkey.

[2014-04-07 17:11] kellyhutchins opened #21 "Add webmap option to configuration panel"

[2014-04-07 17:26] #21 closed, assigned to kellyhutchins

[2014-04-07 17:32] #20 closed, assigned to kellyhutchins

[2014-04-22 14:59] MikeMillerGIS opened #23 "Issue when appID is set in default.js, not in url"
template.js
   _queryApplicationConfiguration functions

if (!esriLang.isDefined(webmapParam.webmap) && response.itemData.values.webmap && this.config.webmap)
{
       this.config.webmap = response.itemData.values.webmap;
}

Command Window of the values:

[2014-04-22 17:19] #23 closed, assigned to nobody

[2014-04-28 23:08] driskull opened #25 "Add option to specify getting either webmap item or group item"

[2014-06-19 16:18] #25 closed, assigned to nobody

[2014-07-03 22:56] driskull opened #30 "Save organization's default basemap group"
@kellyhutchins Let me know if you want me to do this. :+1:

[2014-07-08 21:48] #30 closed, assigned to kellyhutchins

[2014-09-16 17:38] kellyhutchins opened #32 "Update to use editable option of arcgis/utils/createMap"
@driskull

[2014-09-23 21:31] #32 closed, assigned to kellyhutchins

[2014-10-17 16:44] kellyhutchins opened #33 "Modify the way the template.js code checks to see if app is hosted."
Currently we check if the apps are located in a folder with app or home. This is brittle and causes issues for downloaded apps deployed in location with those folder names.

[2014-10-29 09:17] sumitzarkar opened #34 "Get only items with type="Web Map" in group"
I want to get only  items with type="Web Map" in group, I don't see any options to change the query in groupParams. Where should i update the parameter to get only webmaps.

[2014-10-31 16:28] #34 closed, assigned to nobody

[2014-11-20 20:26] kellyhutchins opened #35 "Strip HTML from url parameters"
Strip html from url parameters to avoid raising flags when app is checked for xss problems.

[2014-11-24 18:19] #35 closed, assigned to kellyhutchins

[2014-12-01 12:19] sumitzarkar opened #37 "GroupID Configured from Application configuration panel is not honoured in Boiler Plate"
Hi @driskull,

@MikeTschudi , @NikkiGolding , @ScottOppmann

If a group template has a default group configured in default.js, then we are seeing that the boiler plate fetches groupinfo and groupitems of this default group even after publishing an app and changing the group using application configuration panel(Displayed on right hand side).

This is occurring since in the code (located at line no

[2014-12-11 21:15] #37 closed, assigned to driskull

[2015-01-02 23:56] driskull opened #39 "Do we still need commonConfig file?"
@kellyhutchins Do we still need commonConfig file? Would there be a better way to do this via some rest service?

[2015-01-03 00:00] driskull opened #40 "Should template.js be put in the API?"
Should template.js be put in the API? It may make sense at some point.

cc @jbartley @kellyhutchins

[2015-01-03 00:03] kellyhutchins commented on #39
@driskull  we added it to support the current portal implementation. However we added it mostly to handle support for common services and the bing key. Some of that might not be such an issue anymore and may be discoverable in other ways. I'm going to sit down with Ian in mid-January and look at the portal template workflow and see if we can get rid of it.  I'll keep you posted.

[2015-01-03 00:05] driskull commented on #39
cool thanks. Maybe you can talk to him about #33 as there might be a better way to do it as well.

[2015-01-03 00:07] kellyhutchins commented on #39
That one is trickier. I spoke to Blake about it a bit and we couldn't come up with an alternative but  I have a note to spend a bit more time investigating alternatives.

[2015-01-05 23:54] driskull commented on #39
We already do a call to get the organization info, maybe it could be within that request?

[2015-01-15 09:52] sumitzarkar opened #41 "GroupID Configured from App values is not honoured in boilerplate"
HI @driskull ,

GroupID Configured from App values is not honoured in boilerplate.
This can be fixed by adding following code in the method _queryApplicationConfiguration in template.js at line #382
[code]

[2015-01-15 23:53] driskull commented on #41
hey @sumitzarkar

It looks like it should get mixed into the appConfig property at [line 385](https://github.com/Esri/application-boilerplate-js/blob/master/application_boilerplate/js/template.js#L385)
which should then be mixed in at [line 113](https://github.com/Esri/application-boilerplate-js/blob/master/application_boilerplate/js/template.js#L103) before it queries for the group and items.

Is

[2015-01-22 20:13] sumitzarkar commented on #41
Hi @driskull

Thank you Matt for your reply.

Yes you are correct the groupid is getting mixed in properly.
It was my mistake in the application where I was not initialising the boiler plate in proper sequence and the value for groupid configured in the defalut.js was carried forward without being overridden by the appconfiguration.

[2015-01-22 21:20] driskull commented on #41
Thanks @sumitzarkar. We have a pending update that will mix in things a little better.

[2015-01-22 21:20] #41 closed

[2015-01-26 22:53] #33 closed

[2015-01-26 23:03] #39 closed

[2015-02-02 04:44] sumitzarkar opened #43 "Approach to get GroupInfo of the Private Group"
@driskull ,

When using boilerplate for developing a gallery app, we see that it does not get the group info and does not invoke identity manager too in case of private groups.

It is required in our case to show the identity manager on app load, hence we are invoking it after boilerplate runs. As the group is private, and boilerplate did not provide the detailed group info, we want to now get the

[2015-02-02 17:59] kellyhutchins opened #44 "Add support for boolean url parameters to template.js"
Many of the url params I use in templates are boolean but when retrieved as url params they are strings. I think we should add some logic into the _getUrlParamValues function to handle the conversion. Something like this?

  var item = urlObject.query[items[i]];
                        obj[items[i]] = item === "true" || (item == "false" ? false : item);

@driskull  thoughts?

[2015-02-03 17:15] driskull commented on #44
@kellyhutchins Makes sense to me. I had done this for the public gallery app.

[2015-02-03 17:17] kellyhutchins commented on #44
Cool I'll add it in.

[2015-02-03 18:11] driskull commented on #43
@sumitzarkar correct. The boilerplate doesn't support private groups currently. We're looking to change that though.

We can make _queryGroupInfo a public method as well.

I will rename it so you can call it if you'd like.

[2015-02-03 20:08] sumitzarkar commented on #43
Sounds good, thank you !

[2015-02-04 23:47] driskull commented on #44
hey @kellyhutchins did this get put in yet?

[2015-02-04 23:48] kellyhutchins commented on #44
@driskull  not yet.

[2015-02-05 02:40] CTLocalGovTeam opened #47 "Changing group from configuration panel has no effect"
@driskull
Steps to reproduce:
1. Share group **"A"** using a gallery template app
2. Open configuration panel, it correctly displays group **"A"** that was used to publish the app
3. Now change the group to **"B"** using configuration panel
4. Notice that the app reloads and shows group **"B"**
5. Click Save and Done and launch the app again from the app item
6. Notice that the app launches and di

[2015-02-05 03:22] driskull commented on #47
cc @kellyhutchins.

Kelly, is there a reason the item URL has the group stored in it? It seems like the app should be able to handle which group to use and it shouldn't be forced in the URL because then the app cannot change it. Thoughts?

Ideally, it would not be there at all. Only set in the application JSON.

[2015-02-05 03:22] driskull commented on #47
cc @iwittenmyer.

[2015-02-05 15:50] driskull opened #48 "More documentation for the esriEnvironment"
More documentation for the esriEnvironment to false. Explain what it is and when to set it. More clear documentation.

[2015-02-05 15:52] driskull commented on #43
@kellyhutchins do you think we should have something to handle private groups? Should this be done API side to work how getItem does where it will prompt you if necessary?

Also, I've had a report that getting items from private group is showing some public items instead of responding with auth error.

[2015-02-05 17:57] kellyhutchins commented on #47
@driskull  tested with the templates in online and they do read the group id from the app data so it seems like we don't need the url param. Sounds like a bug should be submitted to online to remove the group id from the url param for the configured app.

[2015-02-05 18:12] kellyhutchins commented on #43
@driskull we'd have to test to see how it works - I'm fine with the boilerplate handling private groups if we can get it to work. I remember that in the past we had issues with not having a way to know that there was private content because we were not getting the auth error. If that's the case then apps who want to show private content may have to use the sign-in link approach.

[2015-02-05 18:33] driskull commented on #47
Submitted issue for this. 3131

[2015-02-05 18:35] driskull commented on #43
@kellyhutchins Yes, we should push for a portal function to check and see if a group requires auth and prompt if so. Ideally, this could happen with getItems() or getInfo(). We had discussed this before. issue 1070 in devtopia.

[2015-02-05 19:34] driskull opened #49 "Allow ordering of the mixin from templateConfig.js"
Some users may want to mixing resources differently. Should we allow this by a configuration option in templateConfig.js?

[2015-02-05 19:40] #48 closed

[2015-02-05 19:45] driskull commented on #49
If anyone else wants to take a stab at this let me know :+1:

[2015-02-05 20:11] kellyhutchins commented on #49
@driskull  can you think of a reason why someone developing a template would want to modify the order of mixing in the resources?

[2015-02-05 21:06] driskull commented on #49
not really. There may be one though.

[2015-02-05 21:21] kellyhutchins commented on #49
@driskull  my 2 cents would be to leave this out until we come up with a compelling template use case. I'd hate to make the boilerplate more complicated for a scenario that may or may not come up.

[2015-02-05 21:48] driskull commented on #49
ok sounds good.

[2015-02-05 21:48] #49 closed

[2015-02-21 01:32] CTLocalGovTeam opened #50 "After signing in, the call to groupInfo() always looks for the group in the same organization where app is published"
@driskull,

When we publish a gallery app based on boilerplate and configure a group that is public but from a different organization then we see that,

1. If you do not sign in, everything works fine
2. If you sign in, then it doesnt find the group

This is because after signing in, the call to groupInfo() is automatically appending the orgId in the query parameters and thus trying to look for th

[2015-02-21 06:23] CTLocalGovTeam commented on #50
Oops.. the portal was set to disallow searching content outside the organization, that's why the orgID was getting appended automatically in portal.queryGroups() in the groupInfo() query.

Confirmed that it works if portal was set to allow members to search content outside the organization.
![image](https://cloud.githubusercontent.com/assets/2959186/6313078/964b871c-b94e-11e4-93db-d2551ca8ef4e.png

[2015-02-21 06:23] #50 closed

[2015-02-24 17:46] kellyhutchins commented on #47
Issue resolved for 3.13 closing here.

[2015-02-24 17:46] #47 closed

[2015-03-04 19:01] driskull opened #51 "Support locally hosted webmap"
Support locally hosted webmap in the boilerplate.

cc @kellyhutchins

[2015-03-04 19:02] driskull commented on #51
https://github.com/Esri/Viewer/wiki/local-definition

[2015-03-06 18:15] #51 closed

[2015-03-13 15:22] jgrayson-apl opened #54 "Locally hosted template incorrectly overrides helperServices in default.js"
When this template is hosted locally the helperServices settings in default.js are incorrectly overridden in template.js _mixinAll function.

[2015-03-13 22:25] driskull opened #55 "Webmap JSON editing tool to edit webmap"
Webmap JSON editing tool to edit webmap

[2015-03-17 22:05] #44 closed

[2015-03-19 23:30] driskull commented on #54
@jgrayson-apl do you see any issue with mixing in the application config or url param values into the config or is it just the organization settings with helper services that you see an issue with?

We could not mix those in but then the developer would have to handle mixing it in or writing something like this:

[code]

[2015-03-20 00:15] kellyhutchins commented on #54
@driskull @jgrayson-apl   that could be a lot of code that the dev would have to write if they use a bunch of helper services and then we'd have to maintain defaults somewhere and keep them up to date. This is originally why we had the common config.
Since we can already skip mixing in the org settings by setting the queryForOrg param to false I'd like to avoid this.

[2015-03-20 15:51] driskull commented on #54
ok. Lets just leave it open and revisit it later.

[2015-04-13 22:07] #55 closed

[2015-04-30 20:37] kellyhutchins opened #57 "Standardize support for url params"
Add a new class that handles supporting map params like center, zoom, level, extent.

[2015-04-30 23:58] driskull commented on #57
Add:
- center
- level
- zoom
- extent

Maybe:
- marker=-79.234826;38.147884;;Race start and finish;Grindstone 100 Ultra Marathon
- find=380 new york st,redlands,ca
- basemapUrl
- basemapReferenceUrl
- url
- urls
- layers=show:1,2

@kellyhutchins any comments on which of these to support? What is the difference between zoom and level?

[2015-05-01 00:02] kellyhutchins commented on #57
@driskull  zoom and level are the same we should probably use level as teh url param since that's what online uses.

I think the most commonly requested params are center, extent, level and find so those are the ones I think we should support. I don't think we should add support for the others to the template boilerplate at this time.

[2015-05-04 16:07] driskull commented on #57
@ycabon for 4.0 do you think it would make sense to just rename the map option from "zoom" to "level" if that's what we're calling it everywhere?

[2015-05-04 16:39] kellyhutchins commented on #57
Pull request looks good - merged.

[2015-05-04 16:39] #57 closed

[2015-05-04 21:18] ycabon commented on #57
@driskull for 4.0, we are using zoom, not level. WebMap has also some props like min/maxZoom. Level only exists in LOD.

[2015-05-04 21:21] driskull commented on #57
hmmm. consistency is tough :(

The online viewer uses "level" as a URL parameter so thats what our apps were going to use. I'm wondering if we should use "zoom" instead.

Maybe we should just add both so someone could use either of them lol.

[2015-05-04 21:22] kellyhutchins commented on #57
@driskull  i have some apps that use zoom as a url param to hide/show the zoom slider... so maybe just stick with level and make sure we doc what setting the value means?

[2015-05-04 21:25] driskull commented on #57
ok. Seems like the 4.0 API should use level, zoomLevel or just maxLevel, MinLevel. zoom is kinda vague. zoom what?

[2015-05-04 21:25] ycabon commented on #57
Another to see that feature could be to encode the map location as one parameter? center/zoom

[2015-06-10 22:32] kellyhutchins opened #60 "Return createMap deferred from startup."
Return the createMap deferred from main.startup()
It is useful to have a the startup() function return a Deferred
so that calling code can wait for the webmap to load before
adding application-specific functionality to the map.

Issue originated in map tools repo:
https://github.com/Esri/map-tools-template/pull/9/commits

[2015-06-10 23:20] driskull commented on #60
6623ad88f4c337dd7e3d10ef244e200f2fa8b128

[2015-06-10 23:36] driskull commented on #60
hey @kellyhutchins this should do it. We can just merge it in when 3.14 releases.

[2015-07-07 20:58] kellyhutchins commented on #60
merged.

[2015-07-07 20:58] #60 closed

[2015-08-10 00:20] asizer opened #62 "broken link in readme"
The "About web application templates" link in the [Getting Started section](https://github.com/Esri/application-boilerplate-js/blob/master/README.md#getting-started) points [to a broken link](http://resources.arcgis.com/en/help/arcgisonline/#/*%20%20%20About_web_application_templates/010q000000nt000000/).

[2015-08-10 15:33] driskull commented on #62
thanks @asizer. Should be fixed now.

[2015-08-10 15:33] #62 closed

[2015-08-21 17:52] driskull commented on #40
closing

[2015-08-21 17:52] #40 closed

[2015-08-21 17:53] driskull commented on #54
closing.

[2015-08-21 17:53] #54 closed

[2015-09-15 15:49] driskull opened #63 "Update loading spinner"

[2015-09-15 15:49] driskull commented on #63
cc @kellyhutchins

[2015-09-15 15:50] #63 closed

[2016-01-07 17:33] kellyhutchins opened #67 "Use Meriyo font for Japanese"
Request submitted:
Would it be possible to change default font to "meiryo"? Or technically speaking, our request is to add "meiryo" font as first font-family like "font-family: meiryo, Arial, Helvetica, sans-serif;".

Possible option
http://www.w3.org/International/questions/qa-css-lang

[2016-03-22 18:59] alaframboise opened #70 "4.x: Use JSON instead of dojo object"
Is there any chance we can use JSON instead of a dojo to describe the app configuration for the 4.x version of the boilerplate? It looks like the webmap version is already taking that approach anyhow.

https://github.com/Esri/application-boilerplate-js/blob/master/application_boilerplate/config/demoMap.js
vs
https://github.com/Esri/application-boilerplate-js/blob/4.0master/webscene_application_boi

[2016-03-22 20:10] driskull commented on #70
Its better that we have it as a module that we can load as a dependency rather than just JSON through esriRequest IMO.

[2016-07-13 18:14] driskull commented on #70
done.

[2016-07-13 18:14] #70 closed

[2016-07-13 18:14] driskull opened #73 "Get oAuth callback working"

[2016-07-13 18:16] driskull opened #74 "Design error page"
@kellyhutchins can you work with @asangma to get a design for the template error page?

[2016-07-13 18:19] driskull opened #75 "Create 4.x helper class for URL params"
Create a 4.x helper class to convert all the common url params like extent and such to their appropriate classes. In the 3x boilerplate, this was called map params.

I think in the new boilerplate it should be called urlHelper or something similar since it will work for scene and webmap.

[2016-07-13 18:29] driskull commented on #43
this should be better in 4x. closing

[2016-07-13 18:29] #43 closed

[2016-07-13 18:33] #67 closed

[2016-07-13 21:14] driskull opened #76 "4x boilerplate sanity check"
Could you go over the 4x boilerplate in the "4master" branch and provide feedback on:

- Layout, structure, and organization
- Naming of things
- Code quality
- Readme.md documentation

If anything doesn't make sense, needs additional documentation or is missing anything... ***Just add it!***

https://github.com/Esri/application-boilerplate-js/tree/4master

[2016-07-13 21:15] kellyhutchins commented on #76
@SpatialAgent  we may want to update test your 4.0 apps

[2016-07-13 21:49] alaframboise commented on #76
@kellyhutchins is it too early to add the theme spec to the JSON definition?

https://github.com/Esri/application-boilerplate-js/blob/master/application_boilerplate/config/defaults.js#L32

[2016-07-13 21:53] kellyhutchins commented on #76
@alaframboise  I think its too early. We have to think about what we can realistically support in the template apps. But its something we are thinking about so once we have a better idea of what is possible we can talk about adding it.

[2016-07-13 22:05] driskull commented on #76
Agreed, but let me know if there are any common properties that all templates should have and we are currently missing.

[2016-07-13 23:13] driskull opened #77 "document boilerplate class API"
document boilerplate class API

[2016-07-14 16:43] #77 closed

[2016-07-14 16:45] driskull commented on #75
https://github.com/Esri/application-boilerplate-js/blob/master/application_boilerplate/js/MapUrlParams.js

https://github.com/Esri/application-boilerplate-js/blob/4master/js/application/main.js#L147

[2016-07-14 22:10] kellyhutchins opened #78 "4x boilerplate: Support shared theming"
Add support for shared theming to the 4x boilerplate.
https://github.com/SpatialAgent/local-perspective/pull/28/files

Sample theme: https://opendatadev.arcgis.com/api/v2/sites/594

[2016-07-14 22:11] kellyhutchins commented on #78
fyi @MarkhamShofner

[2016-07-15 17:35] MarkhamShofner commented on #78
And if we want to go down the css-injection route (as opposed to the currently discussed direct JavaScript manipulation) here is a repo I mocked up last month that retrieves and injects css from an external endpoint. https://github.com/MarkhamShofner/shared-styles-demo

[2016-07-20 23:19] driskull commented on #75
@kellyhutchins this is installed. Can you test/review?

[2016-07-26 23:51] MikeTschudi opened #85 "4x enh: strong decoupling between boilerplate and app that uses it"
The boilerplate main program does necessary app setup (setting direction, creating the webmap/webscene/group gallery), but is subject to change as the JSAPI evolves. If the boilerplate's main file includes the app's customizations, it can be difficult to re-graft an app onto the updated boilerplate--a careful line-by-line merge is required.

The proposed enhancement separates the main file into tw

[2016-07-27 00:16] driskull commented on #85
hey @MikeTschudi that makes sense.

I think we just need to figure out how it works with group apps too. We still want the creating of webmaps and webscenes to be able to be modified so users can tweak things and still modify config values before they are created but at the same time not have to worry about major merge conflicts in the future.

[2016-07-27 00:16] driskull commented on #85
@MikeTschudi do you want to try and propose a PR to handle this and we can discuss code in it?

[2016-08-01 13:31] alaframboise commented on #85
Hey guys, I have a suggestion. The way init.js is right now means that we have to wait until the view is ready before I can do the rest of the UI stuff in main.js or I just have to customize init.js directly (which I would rather not). My template apps all need to handle the creation of the map/scene, view, components... so instead of creating the view in the init.js, what about just passing the p

[2016-08-01 15:02] alaframboise commented on #85
So here's what my main.js looks like now.

[code]

[2016-08-01 15:19] alaframboise opened #89 "getViewProperties() shouldn't take string array"
We might not want to depend on splitting an incoming string for ui components because UI doesn't support loading all widgets (components) by string - just `zoom, compass` and `attribution`. Furthermore, the location e.g. `top-right` of the ui component should also be passed in so I think we need to re-think this structure.

https://github.com/Esri/application-boilerplate-js/blob/4master/js/boilerp

[2016-08-01 15:57] driskull commented on #89
@kellyhutchins what do you think? I think you wrote this piece, correct?

[2016-08-01 16:17] driskull commented on #85
I'm still not sold on the `init.js` vs `main.js`. It would be best if we could just put what we think will be common to all apps into the `Boilerplate.js`. If that means a public method to create a webmap or webscene then we can do that. But currently the point of `init.js` isnt clear.

[2016-08-01 16:35] kellyhutchins commented on #89
@driskull @alaframboise  I'm fine with updating to the structure Al proposes or perhaps a better option would be to leave the ui component bit out of the boilerplate. Group templates wouldn't support this behavior so perhaps we just leave it up to the template developer to add config for the components they want users to be able to configure.

[2016-08-01 16:38] alaframboise commented on #85
@driskull I agree. I also don't understand is why `index.html` creates an `init` (called application) and `init.js` creates a `main`...  And they have back-references...

To me, the `boilerplate.js` should return a portalItem (with settings.config applied) and the app `main.js or app.js` should set the view with user settings (config.json).

[code]

[2016-08-01 16:52] alaframboise commented on #89
Hey @kellyhutchins, with the flexibility of the new UI components, it's easy to allow users to add/remove UI components and position them with just strings, so I think it might be a good idea to leave this out of boilerplate and leave it up to the app to configure the UI from config.json?

When I get a little further along I can show you.

[2016-08-01 17:26] driskull commented on #85
@MikeTschudi @alaframboise I removed init.js and brought back just main.js. If there is something common throughout all apps we can move it into the boilerplate. Otherwise, anything in main is fair game to change and should not be counted on not changing. If we want to move some functions into another helper class like `viewHelper` or something for the creation of a view from a webmap or webscene

[2016-08-01 17:35] MikeTschudi commented on #85
The problem that this request was attempting to solve is that the content in init.js (now main.js) tends to change over time, and to change in massive ways, making it risky and challenging to re-graft an app onto an updated boilerplate.  If the current boilerplate main.js really, really, really will not change for the next year or more, then I agree that this is a better way to go.  But history sh

[2016-08-01 17:47] driskull commented on #85
Yeah, but the problem is there's nothing common about main.js. Apps may want to totally customize the reporting page, the creation of webmaps, webscenes and views. They essentially need to be exposed to a user for customization.

[2016-08-01 17:47] driskull commented on #85
We could have helper utilities to create these and a user could choose to not use them if that helps

[2016-08-01 17:57] MikeTschudi commented on #85
While an app developer may want to modify these things, we've found that the boilerplate has been impressively close to what we need, and we've been happy to just add even complex apps on top of it.

Helper utilities sound great, especially if in a separate file.  Again, the goal is to minimize merge pain.  When the main program is rearranged and reformatted as part of its changes, safe merging ca

[2016-08-01 23:52] driskull commented on #85
Closing. Let me know if further work is required.

[2016-08-01 23:52] #85 closed

[2016-08-01 23:53] driskull commented on #89
Ok. can you submit a PR to remove them?

[2016-08-03 15:55] kellyhutchins opened #90 "4x boilerplate: Add support for reading app values from local storage"
I'd like to add support for reading app values from local storage so we can take advantage of this capability in the app config panel. If the app was able to read app values from local storage we'd be able to support live preview and undo/redo capability in the default template config panel.
The app could use the values from app storage to provide live preview and then once the save button was hit

[2016-08-04 15:36] driskull commented on #90
Yep! sounds like a great idea. I remember we talked about this before.

[2016-08-12 16:41] driskull commented on #90
@kellyhutchins would this require that the app have an appid? Otherwise, we don't want to have settings conflict with different apps for a user. Need some kind of unique identifier.

[2016-08-12 16:48] kellyhutchins commented on #90
@driskull   yep - but once you enter config mode we have an appid so we'd use that appid. If the template was locally hosted and didn't have an appid then we wouldn't write anything to storage.

[2016-08-12 16:56] driskull commented on #90
do you need functions to set or remove the local storage item from the boilerplate or would that be done outside?

[2016-08-12 16:58] kellyhutchins commented on #90
We'd do that from the config panel so I don't think we'd need functions in the app.

[2016-08-12 17:27] driskull commented on #90
Reassigned for verification

[2016-08-16 22:49] alaframboise opened #91 "4: Identity dijit needs 3.x reference"
I know this will be fixed soon but if you want styling for the identity manager to login, you'll need this stylesheet from 3.x:

[code]

[2016-08-16 22:57] driskull commented on #91
Maybe we should just use a dojo theme instead of mixing 3x and 4x. For now at least.

I know that calcite theme looks better :<

[2016-08-16 23:11] alaframboise commented on #91
I'd hate to bring in a whole theme for just this. I think it's fine for now as 4.1 will have this fixed soon anyways. Do you know if there's a way to just grab the identity manager calcite css or is it al one big heap?

[2016-08-17 18:33] driskull opened #92 "Abstract main.js functions into class"
Abstract main.js functions into class app.js?

[2016-08-17 18:33] driskull opened #93 "Ability to pass in config object like the settings from index"
Ability to pass in config object like the settings from index

[2016-08-17 18:34] driskull opened #94 "Require webscene and webmap and pass back the class"
Require webscene and webmap and pass back the class

[2016-08-18 12:38] alaframboise commented on #93
See #95

[2016-08-18 12:46] alaframboise commented on #92
I don't think we need to move functions or passing boilerplate params from main.js to another app.js. Let's just call the main.js  - app.js and have users create their own app class for their template. If they want to reuse code and error handling they can, otherwise they can just do their own thing in their own myApp.js file. This will also avoid future merge conflicts. See #95.

[2016-08-23 17:18] #93 closed

[2016-08-23 17:52] #92 closed

[2016-08-24 22:48] alaframboise opened #96 "4.1: IdentityManager console error"
Good news: The IdentityManager is styled and no other .css refs are required. Yeah!
Bad news: IdentityManager is throwing a console error in the boilerplate.js.

Just swap the 4.0 refs to 4.1 and you should see:

[code]

[2016-09-06 20:31] dasa opened #97 "Invalid Repo URL"
The repo's Website URL is 404 at: http://esri.github.io/application-boilerplate-js/application_boilerplate/

[2016-09-06 20:40] alaframboise commented on #97
@dasa you mean in the short description at the top of the repo right? If so I just changed it.

I think we are overdue for a master > gh-pages merge too! @driskull

[2016-09-06 20:43] driskull commented on #97
done 👍

[2016-09-06 20:45] dasa commented on #97
Thanks!

[2016-09-06 20:45] #97 closed

[2016-09-06 22:50] dasa commented on #96
I'm not able to reproduce this issue.

[2016-09-06 23:07] driskull commented on #76
closing

[2016-09-06 23:07] #76 closed

[2016-09-06 23:09] driskull commented on #91
closing as this is being addressed in the API.

[2016-09-06 23:09] #91 closed

[2016-09-07 04:38] alaframboise commented on #96
@dasa I just tested again and it looks like this was fixed in a recent build. We can close this one. Thanks.

[2016-09-07 04:38] #96 closed

[2016-09-13 17:21] #94 closed

[2016-09-26 14:33] alaframboise opened #98 "Boilerplate Create > App > Using a Template fails to load webscene"
In My Content, if you check on a webscene and create a boilderplate template app through the menu, the Configuration window fails to load the item (the webscene you originally checked). To view it, you have to use the Configuration window to manually reselect the webscene. I looked at the boilerplate.results and the webscene is definitely missing. I think this is because the mixin code isn't getti

[2016-09-26 15:30] driskull commented on #98
@alaframboise this seems like an issue with the webscene viewer. Can you create an issue for them?

[2016-09-26 15:47] alaframboise commented on #98
Hey @driskull, I'm guess I'm not sure what this has to do with the webscene viewer. I can reproduce the same error with a webmap. I think the issue is that the webmap and webscene url param is not being sent to the template.

![image](https://cloud.githubusercontent.com/assets/2539681/18841223/e1cf4974-83c5-11e6-83ee-74f3b67d841a.png)

[2016-09-26 15:50] driskull commented on #98
Its a portal issue though, right? The boilerplate works with url params.

[2016-09-26 15:52] alaframboise commented on #98
Ya, I think so. I just wasn't sure if the Boilerplate mixin was failing to extract it or if it's not there. From what I can see in the debugger, the Boilerplate isn't being sent the webmap/websene ID when you create a template this way. If you think portal and Boilerplate is good, I'll log it.

[2016-09-26 15:53] driskull commented on #98
Look at the network inspector and see if its in the item. If its not, then its a portal issue.

[2016-09-26 16:35] alaframboise commented on #98
I'm only seeing one request to Boilerplate with the appid. However if you set the webmap/webscene property, I see two requests. That's why I thought it was a Boilerplate error. Should the Boilerplate make a request for the map/scene if only sent an appid?

![image](https://cloud.githubusercontent.com/assets/2539681/18842986/d1d324c2-83cb-11e6-8f0c-52d423d20f40.png)

![image](https://cloud.githubus

[2016-09-26 16:46] driskull commented on #98
@alaframboise you have to look at the item data not just the item. The item data should have either a webmap or webscene in it.

[2016-09-26 16:52] driskull commented on #98
The boilerplate will get the webmap or webscene from the URL, application item or config. If it doesn't exist in any of those then it cant get it.

This needs a little more research to see where the failure lies then an issue can be opened in the appropriate place.

[2016-09-26 16:58] alaframboise commented on #98
Here's data?f=json for the initial request and for the second request after manually selecting a webscene. It think this is what you were after? Why is that data missing the first time around? Portal didn't send it?

![image](https://cloud.githubusercontent.com/assets/2539681/18843886/b1a8e4e4-83cf-11e6-9d6c-b933798bab11.png)

![image](https://cloud.githubusercontent.com/assets/2539681/18843894/bb

[2016-09-26 17:00] driskull commented on #98
I'm guessing portal doesn't save the webscene when the item is originally created.

[2016-09-26 17:00] #98 closed

[2016-09-26 17:02] alaframboise commented on #98
Yip, that what I was thinking too. I'll log a portal issue. In the meantime, i'll hardcode a webmap/webscene into the config to avoid the failure.

[2016-09-26 17:11] iwittenmyer commented on #98
that workflow of selecting a map or scene from the content grid and creating an app with it isn't supported, but maybe we can look into adding that capability as an enh.

[2016-09-26 17:13] driskull commented on #98
Seems like it would be a good enhancement. Otherwise, users are dropped into an empty app.

[2016-09-26 17:16] alaframboise commented on #98
@iwittenmyer Create > App is the only way I know how to test a 4.0 template unless there's a magic way to add 3d templates into the new Create App dialog.

[2016-09-26 17:18] driskull commented on #98
Lets move this discussion into a Portal issue since this isn't a boilerplate issue. :)

[2016-09-26 17:20] iwittenmyer commented on #98
i'll log the enh, because this scenario has not yet been supported. the workflow was pick the app, then pick the scene/map/group

[2016-10-19 20:48] alaframboise opened #99 "4.x: Provide defaultMap for webmap and webscene supporting apps"
The new boilerplate supports both webmaps and webscenes. Either of these can be missing params and it would be good to have a simple fallback mechanism if you just hit the template end-point and just wants the default map. e.g.

`http://myserver/mytemplate/index.html`

This is a bit tricky however for templates that support both 2D and 3D. What map do you give back?

Maybe we should do something l

[2016-10-24 17:39] driskull commented on #99
Installed

[2016-10-24 19:16] alaframboise commented on #99
Verified fixed.

[2016-10-24 19:34] alaframboise commented on #99
Spoke too soon. If you have both defaults set in settings.json, the logic will always default to webmap. Need a bit more logic to let it default to either or.

This works:

[code]

[code]

[2016-10-24 21:04] driskull commented on #99
I think you'll just need to change the logic here: https://github.com/Esri/application-boilerplate-js/blob/4master/js/application/app.js#L95

Shouldn't be an issue though.

[2016-10-24 21:04] #99 closed

[2016-10-25 18:31] driskull commented on #99
Should be fine. That logic is only in the app, not the boilerplate

[2016-11-02 18:06] driskull commented on #78
Assigning to @kellyhutchins as well. Let me know when there's a task for me to do :)

[2016-11-02 18:07] driskull commented on #90
Is this good @kellyhutchins ?

[2016-11-02 18:10] driskull commented on #89
looks like this is good now.

[2016-11-02 18:10] #89 closed

[2016-11-02 18:10] driskull commented on #75
Assuming this is good now.

[2016-11-02 18:10] #75 closed

[2016-12-21 23:29] kellyhutchins opened #101 "4x: Setup sample build process"
Setup sample build using grunt

[2016-12-30 21:47] marissaAnn opened #103 "Failed to Load Layer - v4.2"
After downloading the 4.2 version, I am experiencing a "failed to load layer" error with certain layers. This is after changing only the config settings for my portal and webmap.

![boilerplate-error](https://cloud.githubusercontent.com/assets/22507315/21573006/6c95fe7a-cea5-11e6-9b3f-f40fcaad7c73.png)

This is the map service I'm trying to use that is publicly available: https://gis.optum.com/arc

[2016-12-30 21:51] driskull commented on #103
Hey @marissaAnn thanks for reporting. can you share the webmap so I can see if it might be another layer in there?

[2016-12-30 22:17] marissaAnn commented on #103
Unfortunately I cannot share the web map I'm using as our portal is only available internally.

I did attempt to recreate the webmap in our ArcGIS Online account so that it could be shared, but am unable to reproduce the error there.

[2016-12-30 22:21] driskull commented on #103
can you share the webmap response JSON from the network tab in chrome? I'm thinking it might be a layer type that is not supported yet.

[2016-12-30 22:48] marissaAnn commented on #103
Which URL should I be looking for to get the webmap response JSON?

[2016-12-30 22:49] driskull commented on #103
It should look like this:

https://`www.arcgis.com`/sharing/rest/content/items/`1970c1995b8f44749f4b9b6e81b5ba45`/data?f=json`

but using your portal and webmap id.

[2016-12-30 22:52] marissaAnn commented on #103
Ah thanks. Does this help?

{"operationalLayers":[{"id":"MetricsGeneralized_8946","layerType":"ArcGISMapServiceLayer","url":"https://gis.optum.com/arcgis/rest/services/MetricsGeneralized/MapServer","visibility":true,"visibleLayers":[3],"opacity":1,"title":"Metrics Generalized","itemId":"185fc3af3e0d463ea462f7659c467c42"}],"baseMap":{"baseMapLayers":[{"id":"defaultBasemap","layerType":"ArcGISTiledM

[2016-12-30 23:41] driskull commented on #103
Yep. that helps. thanks.

Can you verify your portal has this item `185fc3af3e0d463ea462f7659c467c42`?

Should be a layer with that itemId in the portal. Just want to check for sure. If so, can you send me the response from that item?

Should look like this:

https://`www.arcgis.com`/sharing/rest/content/items/185fc3af3e0d463ea462f7659c467c42?f=json

[2017-01-03 15:37] marissaAnn commented on #103
{"id":"185fc3af3e0d463ea462f7659c467c42","owner":"mwalter","created":1478809280276,"modified":1478809280548,"guid":null,"name":null,"title":"Metrics Generalized","type":"Map Service","typeKeywords":["ArcGIS Server","Data","Dynamic","Map Service","Multilayer","Service"],"description":"HealthState Metrics Service with Generalized Geographies for: States, Counties, Zipcodes, Hospital Referral Regions

[2017-01-03 17:55] driskull commented on #103
Hmm everything looks ok and seems to work for me. I can't seem to reproduce that error.

[2017-01-03 20:41] marissaAnn commented on #103
Unfortunately I cannot reproduce the error outside of our portal either. I've noticed that it is occurring for any layer that is not on the same domain as our portal. So the service mentioned above (located @ gis.optum.com) will not load, but layers matching the portal url are loading fine.

It seems like it could be a portal issue on my end, however the 4.0 version is not showing these errors wit

[2017-01-03 21:11] driskull commented on #103
Yeah. sorry. Maybe contacting support might be of more assistance. I tried with that combination of responses and it seemed to work fine.

[2017-01-03 21:11] #103 closed

[2017-02-01 23:17] alaframboise opened #105 "4.3: config ref is redundant in boilerplate.js"
Now that both JSON configs are passed in the index.html, we should remove this:

https://github.com/Esri/application-boilerplate-js/blob/4master/js/boilerplate/Boilerplate.js#L18

[2017-02-06 16:54] driskull commented on #105
Fixed

[2017-03-20 21:36] driskull commented on #78
closing. old

[2017-03-20 21:36] #78 closed

[2017-03-20 21:37] #105 closed

[2017-03-20 21:37] driskull commented on #101
Kelly, this is old. closing. reopen if necessary.

[2017-03-20 21:37] #101 closed

[2017-03-20 21:38] driskull commented on #90
closing. reopen if necessary.

[2017-03-20 21:38] #90 closed

[2017-03-20 21:38] driskull commented on #74
Maybe we can use calcite web for this?

[2017-03-20 21:38] driskull commented on #73
Kelly, this is old. closing. reopen if necessary.

[2017-03-20 21:38] #73 closed

[2017-03-20 21:40] driskull opened #106 "Improve boilerplate upgrade process"
Upgrading the boilerplate should be easy. We need to make it more like a supported application and not a sample with a boilerplate class.

[2017-03-20 21:42] driskull opened #107 "Support multiple maps, groups and scenes."
The boilerplate's `webmap`, `group` and `webscene` properties should be enhanced to support an array of strings `webmap[]` `group[]` and `webscene[]` so that multiple maps, groups and scenes can be supported when an array is provided.

String should still be the default option or can be "autocasted" into a single item array.

[2017-03-20 21:43] alaframboise commented on #106
Agreed. You should be able to just pull the latest into a project without it stepping on user config settings/customizations.

[2017-03-23 20:07] asangma commented on #74
@driskull ya!

[2017-04-04 20:42] gavinr opened #109 "Update gh-pages to 4master"
Right now, the version of this app on `gh-pages` (http://esri.github.io/application-boilerplate-js/index.html) is showing white lines in the basemap, i think because it's using an old version of the 4.x jsapi.

![image](https://cloud.githubusercontent.com/assets/209355/24677682/39d71012-194d-11e7-8024-607f27fb1515.png)

If we updated to the latest `4master` branch, which includes [a fix](https://g

[2017-04-04 20:49] driskull commented on #109
thanks @gavinr . should be fixed now :)

[2017-04-04 20:49] #109 closed

[2017-04-04 20:51] gavinr commented on #109
Looking good. Thanks!

[2017-04-04 23:05] kellyhutchins opened #110 "Add support for service proxies"
In the 3.x boilerplate we use arcgisUtils.createMap's layerMixins option to replace layer urls for premium and subscriber content with proxied urls if users choose to enable that option. We need to support this in the 4.x boilerplate. In 4.x there isn't an option to mixin the layers so we'll need to add logic to the app to handle this.

[2017-04-06 23:56] driskull commented on #110
@kellyhutchins I don't think the `appProxies` property is on the `PortalItem` in 4x either. At least it's not documented.

I can probably mix them into the WebMap/WebScene items if the `appProxies` were available on the application item.

[2017-04-06 23:59] kellyhutchins commented on #110
@driskull  I spoke to Dasa and it isn't there so we'll just need to get the proxies (if specified) the same way we do in the 3.x boilerplate and then do the layer mixin ourselves.

If you are working on the boilerplate and have time it would be great to add this. If not I can do it.

[2017-04-07 00:01] driskull commented on #110
@kellyhutchins I don't think `appProxies` is on the item though. How would we get it?

[2017-04-07 00:04] kellyhutchins commented on #110
It should be on the application item is it not? If not let me know and I'll setup a test and talk to Dasa.

[2017-04-07 00:07] driskull commented on #110
I don't see it.

[2017-04-07 00:14] kellyhutchins commented on #110
Ok I'll look into it and see what I can find out.

[2017-04-10 16:58] nicksenger opened #111 "Error handling (4masterts)"
The typescript boilerplate is currently failing silently for me somewhere in boilerplate.init()

I'm going to refactor this a bit and add some error handling to the asynchronous code so that I can use it in the embedded group gallery. Will make a PR to this repo when finished.

[2017-04-10 17:45] driskull commented on #111
Yeah, it's in progress. Complete rewrite going on at this time.

Once that's done. I still need to figure out how to make this more "updatable", support handling more than one group/webmap/webscene and redesign error UI using calcite.

[2017-04-10 18:08] nicksenger commented on #111
@driskull

Okay, great. I just spoke with Kelly and for now I am going to get the group embedded gallery working by making some changes to the existing boilerplate where necessary, then port it over to your rewrite when that is ready.

I'll push up any changes that I make to a separate branch or something in case it helps with the rewrite at all.

[2017-04-10 18:10] driskull commented on #111
👍 thanks

[2017-04-19 20:13] #111 closed

[2017-04-19 20:14] driskull commented on #107
Supported in latest 4masterts

[2017-04-19 20:14] #107 closed

[2017-04-19 20:14] driskull commented on #74
Using calcite for alert errors.

[2017-04-19 20:14] #74 closed

[2017-04-20 16:47] driskull commented on #106
The part I struggle with is that users of the boilerplate have trouble when it affects their `application.js` file. However, that file can be anything so I'm not sure how we can allow upgrades to that file. Its basically an example.

So maybe we just need to separate out examples and leave the `application` files blank and alone.

[2017-04-20 23:02] driskull commented on #110
@kellyhutchins can you implement this here: https://github.com/Esri/application-boilerplate-js/blob/4masterts/src/boilerplate/Boilerplate.ts#L284 ?

I think we should be able to look at the `appProxies` and then modify any of the layer URLs that are contained in the webmap/webscene items. In theory. right?

[2017-04-20 23:04] kellyhutchins commented on #110
@driskull  sure I'll take a look

[2017-04-20 23:11] driskull commented on #106
@alaframboise would you be able to look at the branch `4masterts` and let me know your thoughts?

[2017-04-21 11:45] alaframboise commented on #106
Will do!

[2017-04-21 20:12] driskull opened #114 "4masterts Feedback"
- [x] Use CacliteMaps or nothing. Calcite-web is only for web pages
- [x] Would prefer not to use any calcite since it should be framework independent
- [x] Separate boilerplate code into its own repo. Have other repos use TypeScript, vanilla JS, frameworks, grunt, etc. Don't force users to use TS.

[2017-04-21 23:42] driskull commented on #114
@kellyhutchins @alaframboise @nicksenger

 I think for 4x, this repo will only be the Boilerplate Class, which will be written in TS.

We will create other repos that import this class and use it with and without Typescript and we can create even more repos that use it with things like calcite maps or other frameworks.

This way, I can write and maintain the boilerplate class separately in TypeScr

[2017-04-22 18:44] alaframboise commented on #114
@driskull I think this is a great idea. I think it's the only way to truly separate the `base` from the `apps`. I think we should start from ground zero for the 4.x stuff. It would be great if we had something like this:

[code]

[2017-04-24 16:27] driskull commented on #114
I was thinking it would be more like this:

- `configurable-app-js` This is the base application class. (owned by @driskull )
- `configurable-app-boilerplate-js` This is the simple application with basic file structure. (owned by @kellyhutchins )
- `configurable-app-example-group` ... (owned by ???)
- `configurable-app-example-calcite-maps` ... (owned by @alaframboise )
- ... any other examples?

[2017-04-24 16:31] kellyhutchins commented on #114
I think it all sounds good but I think we should also have a Calcite Web example too. Its useful and people are already working with it.

[2017-04-24 17:42] kellyhutchins commented on #114
@driskull  I hate naming things its so hard. :)

I think ApplicationHelper works.

[2017-04-24 17:44] driskull commented on #114
@kellyhutchins it is, soo hard.

[2017-04-24 17:47] alaframboise commented on #114
Isn't it all portal stuff? What about `ApplicationBase` or `ApplicationConfig` or `ArcGISConfig`?

[2017-04-24 17:48] kellyhutchins commented on #114
ApplicationBase sounds ok to me. I think ApplicationConfig would be confusing because of the other config files we have.

[2017-04-24 17:55] alaframboise commented on #114
`ConfigurableAppBase` or `AppPortalBase`

[2017-04-24 17:56] driskull commented on #114
ApplicationBase works. I'll go with that.

Ill create the following repo on ArcGIS Github which we can transfer to Esri once ready.

- `application-base-js`

I think we should keep this one for the boilerplate since people already know about this and we have 4x on here already. The name of the repo still works.

- `application-boilerplate-js`

Once I get the repo set up here on the 4masterts branc

[2017-04-24 21:24] MikeTschudi commented on #114
@driskull, perhaps combine the examples as folders in a single repo? One-stop shopping for examples and uses less of the ArcGIS account quota.

[2017-04-24 21:26] driskull commented on #114
sure. I'll create and manage the base repo. I'll setup the boilerplate repo and @kellyhutchins will manage it.

The other example repos I'll leave up to @alaframboise and whoever else to manage/maintain.

[2017-04-25 15:21] alaframboise commented on #114
@kellyhutchins I'm all for a single `configurable-app-examples` repo as @MikeTschudi suggests. We just need to figure out the structure so each can have it's own configs and if there will be shared code. e.g.

[code]

[2017-04-25 15:55] driskull commented on #114
Its probably best not to share the code so people can just copy the folder of the example they like and tweak it.

[2017-04-25 15:57] alaframboise commented on #114
ya, i was just thinking that some helper modules would be totally shareable e.g. `viewManager`

[2017-04-25 17:17] kellyhutchins commented on #114
I like @MikeTschudi  idea of combining it all in one repo. That way users can quickly find the examples and pick the one they want. I also think we should keep the code separate in the folders so its easy to copy only the code you want without having to also pull shared code from various places.

[2017-04-25 17:18] MikeTschudi commented on #114
We'll already have code sharing--the boilerplate--so a `shared` folder wouldn't be an outlier.

Perhaps have subfolder placeholders in each example:  Each subfolder would have a text file with a name like `insert_boilerplate_here.md` (or another `README.md`?); inside the file would be the link to the repo or folder containing what should be inserted, e.g., the boilerplate's `dist` folder for one,

[2017-04-25 17:27] MikeTschudi commented on #114
@kellyhutchins, are you suggesting keeping the boilerplate with the examples and the shared code in one repo? If the individual parts can be updated separately--especially the boilerplate and/or shared--this would simplify the documentation and use.

But keeping the boilerplate in a separate repo seemed valuable because it emphasized that it can evolve separately from one's app, like the JSAPI evo

[2017-04-25 17:29] kellyhutchins commented on #114
No I was suggesting all the examples in one repo and the boilerplate in another.

[2017-04-25 17:59] driskull commented on #114
I have the two repos setup here:

https://github.com/ArcGIS/application-base-js
https://github.com/ArcGIS/application-boilerplate-js

Once we get these approved and the Readme's updated, we can move them to the Esri account on github.

This repo we can rename to "application-boilerplate-3x-js" and mark it as deprecated.

I will work on the `application-base-js` readme. Can one of you tackle the `a

[2017-04-25 19:00] alaframboise commented on #114
@driskull why not just `app-template-base` and `app-template-examples`? The '.js' suffix is only handy when there are examples in many different languages.

[2017-04-25 20:03] driskull commented on #114
Incase there are ever different languages. We've always done that for templates and other things.

[2017-04-25 20:08] alaframboise commented on #114
@driskull your call, but IMHO `application` just seems too generic... ;)

[2017-04-25 21:08] #114 closed

[2017-04-25 21:19] #110 closed

[2017-04-25 21:19] driskull commented on #106
https://github.com/Esri/application-base-js

[2017-04-25 21:19] #106 closed

[2017-06-09 02:15] gavinr opened #115 ""View it Live" dead link"
The "view it live" link (http://esri.github.io/application-boilerplate-js/application_boilerplate/) in the readme.md is giving me a 404 error.

[2017-06-09 17:10] driskull commented on #115
thanks @gavinr! should be good now.

[2017-06-09 17:10] #115 closed

[2017-06-09 17:42] gavinr commented on #115
looks good - thanks for fixing!